// @import '~vuetify/src/stylus/theme.styl';
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

// Globals
$body-font-family: 'Space Mono', monospace;
$border-radius-root: 6px;
$font-size-root: 14px;
